<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>

    <title>{$c.seo_title}</title>
    <meta name="description" content="{$c.seo_description}"/>
    <meta name="keywords" content="{$c.seo_keywords}"/>

    <link rel="shortcut icon" href="__PUBLIC__/robot/img/ico.ico">
    <link rel="stylesheet" href="__PUBLIC__/robot/css/iconfont/iconfont.css">
    <link rel="stylesheet" href="__PUBLIC__/robot/css/reset.css">
    <link rel="stylesheet" href="__PUBLIC__/robot/css/style.css">
    <link rel="stylesheet" href="__PUBLIC__/robot/css/mobile.css">

    <!--[if IE]-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js"></script>-->
    <!--[endif]-->

    <script src="__PUBLIC__/robot/js/jquery-1.9.1.js"></script>
    <script src="__PUBLIC__/robot/js/common.js"></script>

</head>
<body>

<include file="layout/header1"/>


<div class="page-banner" id="page-banner" style="background-image: url('{$c.image}');"></div>
<div class="box">
    <div class="robot1" id="title1">
        <div class="title1 ">
            <h1>{$c.title_one}</h1>
            <p>{$c.title_ones}</p>
        </div>
        <div class="robot1-1  wow fadeInLeft">
            <p>{$c.title_ones_content|htmlspecialchars_decode}</p>
        </div>
        <div class="robot1-1  wow fadeInRight">
            <p>{$c.title_ones_content_description|htmlspecialchars_decode}</p>

        </div>
        <div class="clear"></div>

        <div class="robot1-2  wow fadeInUp">
            <p>{$c.title_ones_contents_description|htmlspecialchars_decode}</p>
        </div>
    </div>
</div>

<div class="robot2">
    <img src="{$c.images}" alt=""/>
    <div class="box">
        <div class="robot2-1 ">
            <div>
                {$c.title_two_content|htmlspecialchars_decode}
            </div>
        </div>
    </div>
</div>

<div class="robot3">
    <div class="box">
        <div class="robot3-1 ">
            <div class="title2 ">
                <h1>{$c.title_two}</h1>
                <p>{$c.title_twos_content|htmlspecialchars_decode}</p>
            </div>
            <div class="robot3-con">

            </div>
        </div>
        <div class="robot3-2 ">
            <div class="title2">
                <h1>{$c.title_twos}</h1>
                <p>{$c.title_twoss_content|htmlspecialchars_decode}</p>
            </div>

            <!--<div class="robot3-con">-->
            <!--<img src="__PUBLIC__/robot/img/robot2.jpg" alt=""/>-->
            <!--</div>-->

        </div>

        <div class="clear"></div>

        <div class="robot1-2 ">
            {$c.titletwoscontent|htmlspecialchars_decode}
        </div>


    </div>
</div>

<div class="robot4" id="title2">
    <div class="box">
        <div class="title2">
            <h1>{$c.title3}<br/>
                {$c.title31}</h1>
        </div>
    </div>
    <div class="robot4-2 ">
        <img src="{$c.title3image}" alt=""/>
    </div>

    <div class="robot4-1">
        <div class="robot4-1con">
            {$c.titlecontent|htmlspecialchars_decode}
        </div>
    </div>

</div>

<div class="box">
    <div class="robot5 ">
        {$c.title3content|htmlspecialchars_decode}

    </div>

</div>

<div class="robot6" id="title3">

    <div class="box">

        <div class="title2  ">
            <h1>{$c.title4}</h1>
            <p>{$c.title41}</p>
        </div>

        <div class="robot6-1 ">
            <img src="{$c.title41image}" alt=""/>
        </div>
        <div class="robot6-2 ">
            <ul class="robot6-list1">
                <li><h3><span>1</span>{$c.title411}</h3></li>
                <li><h3><span>2</span>{$c.title412}</h3></li>
                <li><h3><span>3</span>{$c.title413}</h3></li>
            </ul>
            <div class="clear"></div>
            <ul class="robot6-list2">
                <li>
                    <h3><span>4</span>{$c.title414}</h3>
                    <p>{$c.title414content|htmlspecialchars_decode}</p>
                    <img src="{$c.title414image}" alt=""/>
                </li>
                <li>
                    <h3><span>5</span>{$c.title415}</h3>
                    <p>{$c.title415content|htmlspecialchars_decode}</p>
                    <img src="{$c.title415image}" alt=""/>
                </li>
                <li>
                    <h3><span>6</span>{$c.title416}</h3><br>
                    {$c.title416content|htmlspecialchars_decode}

                </li>
                <li>
                    <h3><span>7</span>{$c.title417}</h3>
                    <p>{$c.title417content|htmlspecialchars_decode}</p>
                </li>
            </ul>
        </div>

    </div>

</div>


<div class="robot2">
    <img src="{$c.title418image}" alt=""/>
    <div class="robot2-2  wow fadeInUpBig"><p>{$cs}</p></div>
</div>
<div class="robot2">
    <img src="{$c.title418images}" alt=""/>

</div>


<!--12宫格-->
<div class="robot7">

    <div class="box">

        <div class="robot1-2  ">
            {$c.title418content|htmlspecialchars_decode}
        </div>
        <ul class="video-list  ">
            <php>
                foreach($c['video'] as $kk=>$vv){
                if($vv['image'] && $vv['file']){
            </php>
            <li>
                <div class="video-text ">
                    <h3>{$vv.title}</h3>
                    <p>{$vv.onetitle}</p>
                </div>
                <img src="{$vv.image}" alt=""/>
                <div class="video-btn ">
                    <img src="__PUBLIC__/robot/img/video.png" alt="Agility"
                         index="{$vv.file}"/>
                </div>
            </li>
            <php>}</php>
            <php>if($vv['image'] && $vv['file'] == ''){</php>
            <li>
                <div class="video-text ">
                    <h3>{$vv.title}</h3>
                    <p>{$vv.onetitle}</p>
                </div>
                <img src="{$vv.image}" alt=""/>
            </li>
            <php>}</php>
            <php>if($vv['image'] == '' && $vv['file'] == ''){</php>
            <li>
                <div class="video-texts">
                    <div class="video-wb">
                        <div>
                            <h3>{$vv.title}</h3>
                            <p>{$vv.onetitle}</p>
                        </div>
                    </div>
                </div>
                <img src="__PUBLIC__/robot/img/robot18.jpg" alt=""/>
            </li>
            <php>}
                }
            </php>
            </foreach>
            <!--视频图片模块-->
        </ul>
    </div>
</div>


<!--视频弹窗-->
<div class="popup-bg "></div>
<div class="video-box">
    <span class="hide">×</span>

    <p>Agility</p>
    <div class="videos">
    </div>
</div>


<div class="robot2">
    <img src="{$c.title4110image}" alt=""/>
    <div class="robot2-3" id="robot2-3">
        <div class="title2 ">
            <h1> {$c.title4110title}</h1>
            <p>{$c.title4110content|htmlspecialchars_decode}</p>
        </div>
    </div>
</div>

<div class="foot">
    <div class="box">
        <img src="{$con.image}" alt=""/>
        <p>{$con.address}</p>
    </div>
</div>

<!--返回-->
<div id="click-top">
    <i class="iconfont icon-jiantou"></i>
    <p>
        <php>
            if (session('lang')) {
            if (session('lang') == 'chinese') {
        </php>

            顶部
    <php>
        } else {
    </php>
        top

    <php>
        }
        }
    </php>


        </p>
</div>


<!--手机底部导航-->
<div class="clear"></div>
<div class="empty"></div>
<include file="layout/header2"/>


</body>
</html>