@media screen and (max-width: 1500px) {
  .page-banners {
    background-color: #eaebed;
    background-position: center bottom;
    background-size: 100% auto;
  }
  .index-list {
    right: 5%;
    top: 15%;
  }
  .index-nav {
    right: 10%;
  }
}
@media screen and (max-width: 1450px) {
  .add-box {
    min-height: 700px;
  }
}
@media screen and (max-width: 1160px) {
  .index-nav {
    right: 8%;
  }
}
@media screen and (max-width: 1200px) {
  .box {
    width: 96%;
  }
  #boxs {
    width: 96%;
    left: 2%;
    top: 15%;
    margin-left: 0;
  }
  .empty-banner {
    height: 60px;
  }
  .header {
    height: 60px;
  }
  .header .logo {
    margin-left: 3%;
  }
  .header .header-nav .nav-level2 {
    line-height: 60px;
  }
  .header .language-switch {
    width: 58px;
    margin: 10px 3% 0 0;
  }
  .header .language-switch .l-s-tab {
    padding: 0 8px;
  }
  .header .language-switch em {
    display: none;
  }
  .header .language-switch img {
    float: none;
    margin: 6px 0;
  }
  .header .language-switch a {
    color: #fff;
  }
  .header .language-switch .iconfont {
    float: right;
    font-size: 14px;
    line-height: 32px;
  }
  .header .language-switch .language-switch-tab {
    padding: 0 8px;
    text-align: center;
  }
  .header .language-switch .language-switch-tab img {
    display: inline-block;
  }
  .service-card-2 h1 {
    font-size: 24px;
  }
}
@media screen and (max-width: 1060px) {
  .service-card-3 p {
    font-size: 14px;
  }
}
@media screen and (max-width: 992px) {
  .empty {
    height: 84px;
  }
  .index-nav {
    display: none;
  }
  .header-nav {
    display: none;
  }
  .mobile-nav {
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 84px;
    background: #1a272d;
    z-index: 11;
  }
  .mobile-nav div {
    position: relative;
    font-size: 19px;
    color: #fff;
    width: 25%!important;
    display: table;
    height: 84px;
    float: left;
    text-align: center;
    border-left: 1px solid #576870;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .mobile-nav div a {
    display: table-cell;
    vertical-align: middle;
    color: #fff;
    text-transform: uppercase ;
  }
  .mobile-nav div .mobile-level1a {
    background: url("../img/m-top.png") no-repeat center right;
  }
  .mobile-nav div.on .mobile-level1a {
    background: url("../img/m-bottom.png") no-repeat center right;
  }
  .mobile-nav div:first-child {
    border: none;
  }
  .mobile-nav div ul {
    display: none;
    position: absolute;
    bottom: 100%;
    width: 120%;
    left: -10%;
  }
  .mobile-nav div ul li {
    padding: 10px 5px;
    text-align: center;
    color: #576870;
    background: #1a272d;
    border-bottom: 1px solid #576870;
  }
  .mobile-nav div ul li a {
    display: block;
  }
  .robot4-1 {
    width: 96%;
    float: none;
    margin: 30px auto 0;
  }
  .robot4-1 .robot4-1con {
    float: none;
  }
  .robot4-1 .robot4-1con h3 {
    margin-bottom: 20px;
  }
  .robot4-2 {
    width: 96%;
    float: none;
    margin: 30px auto 0;
    text-align: center;
  }
  .robot4-2 img {
    max-width: 100%;
  }
  .robot4 {
    padding-bottom: 30px;
  }
  .robot5-con h3 {
    padding: 15px 0;
  }
  .robot5-data {
    line-height: 26px;
  }
  .robot5-data table {
    width: 100%;
    float: none;
  }
  .robot5-data table td {
    padding-right: 0;
  }
  .robot7 {
    padding-bottom: 60px;
  }
  .video-list {
    padding: 30px 0;
  }
  .video-list li {
    width: 32.33%;
  }
  .index-list {
    position: fixed;
    right: 10%;
    width: 80%;
  }
  .index-list li {
    float: left;
    margin: 0 1%;
    width: 48%;
  }
  .index-list li .nav-level1 {
    width: 100%;
    font-size: 16px;
  }
  .index-list li .navs .nav-level1 {
    width: 100%;
  }
  .service1 {
    float: none;
    width: 100%;
    max-width: 100%;
  }
  .service2 {
    float: none;
    width: 100%;
    max-width: 100%;
  }
  .service-item .title {
    padding-top: 0;
  }
  .robot9 {
    padding: 30px 0;
  }
  .video-box {
    display: none;
    position: fixed;
    top: 3%;
    bottom: 3%;
    left: 2%;
    z-index: 1111;
    width: 96%;
    margin: 0 auto;
    background: #fff;
    padding: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .video-box .hide {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    font-size: 30px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
  }
  .app-pic {
    position: relative;
    width: 100%;
  }
  .app-pic img {
    width: 100%;
    float: none;
  }
  .app-pic .img1 {
    display: none;
  }
  .app-pic .img2 {
    display: block;
  }
  .operate-intro {
    width: 100%;
  }
  .operate-con .operate-img {
    float: none;
    width: 100%;
    text-align: center;
  }
  .operate-con .operate-img img {
    max-width: 100%;
  }
  .operate-con .operate-text {
    float: none;
    width: 100%;
    font-size: 18px;
    line-height: 30px;
  }
  .app-pic.on {
    -webkit-filter: blur(0);
    -moz-filter: blur(0);
    -o-filter: blur(0);
    -ms-filter: blur(0);
    filter: blur(0);
  }
  .robot10 {
    padding: 25px 0;
  }
  .add-box {
    min-height: inherit;
  }
  .service-card1 {
    max-width: 450px;
    margin: 30px auto 0;
  }
  .service-card2 {
    max-width: 450px;
    margin: 30px auto 0;
  }
}
@media screen and (max-width: 768px) {
  .robot1 {
    overflow: hidden;
    margin: 30px  0 40px;
  }
  .robot1 .robot1-1 {
    float: left;
    width: 100%;
    padding: 0 3%;
    margin-top: 30px;
  }
  .robot1-2 {
    margin-top: 30px;
    padding: 30px 3%;
  }
  .robot2 .robot2-1 {
    width: 80%;
    padding: 30px 20px;
  }
  .robot3 {
    padding: 30px 0 ;
    overflow: hidden;
  }
  .robot3 .robot3-1 {
    width: 100%;
    float: none;
    margin-bottom: 30px;
  }
  .robot3 .robot3-2 {
    width: 100%;
    float: none;
    margin-bottom: 30px;
  }
  .robot3-con {
    margin-top: 30px;
  }
  .robot5 {
    padding: 30px 5%;
  }
  .video-list li {
    width: 49%;
  }
  .robot6 {
    padding: 40px 0 ;
  }
  .robot6-1 {
    display: none ;
  }
  .robot6-2 {
    float: none;
    width: 100%;
  }
  .index-list {
    position: absolute;
    right: 5%;
    width: 90%;
    top: 15%;
  }
  .index-list li {
    float: none;
    margin: 0;
    overflow: hidden;
    width: 100%;
  }
  .index-list li .navs {
    width: 48%;
    float: left;
  }
  .index-list li .navs:nth-of-type(even) {
    float: right;
  }
  .index-list li .nav-level1 {
    font-size: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .robot7 {
    padding-bottom: 30px ;
  }
  .robot8 {
    padding: 30px 0;
  }
  .operate-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .operate-list li {
    float: none;
    width: 25%;
    margin: 0;
  }
  .operate-list li img {
    width: 80%;
    max-width: 80px;
  }
}
@media screen and (max-width: 640px) {
  .empty {
    height: 66px;
  }
  .mobile-nav {
    height: 66px;
  }
  .mobile-nav div {
    height: 66px;
    font-size: 15px;
  }
  .robot6-list1 li {
    width: 50%;
  }
  .robot6-list2 li {
    width: 100%;
  }
  .service-item {
    overflow: hidden;
  }
  .service-item .title {
    max-width: 100%;
    float: none;
    text-align: left;
  }
  .service-item .title h1 {
    display: block;
    text-align: left;
    font-size: 30px;
  }
  .service-item .title h3 {
    font-size: 28px;
  }
  .service-item .item-logo {
    max-width: 100%;
    float: none;
    text-align: center;
  }
  .service-item .item-logo img {
    display: inline-block;
  }
  .title1 {
    padding-top: 20px;
  }
  .title1 h1 {
    font-size: 24px;
  }
  .title2 h1 {
    font-size: 22px;
  }
}
@media screen and (max-width: 560px) {
  .empty {
    height: 60px;
  }
  .mobile-nav {
    height: 60px;
  }
  .mobile-nav div {
    height: 60px;
    font-size: 12px;
  }
  .foot {
    background: #1a272d;
    height: 50px;
  }
  .foot img {
    height: 50px;
  }
  .foot p {
    line-height: 50px;
    font-size: 12px;
  }
  .index-list {
    right: 2%;
    width: 96%;
    top: 15%;
  }
  .index-list li .nav-level1 {
    font-size: 12px;
  }
  .service-card1 {
    padding: 10px 15px;
  }
  .service-card1 p {
    right: 15px;
  }
  .service-card2 {
    padding: 10px 15px;
  }
  .service-card-2 h1 {
    font-size: 24px;
  }
  .service-card-3 {
    max-width: 68%;
  }
  .service-card-3 h1 {
    font-size: 24px;
  }
  .service-card-3 p {
    font-size: 14px;
  }
  .service-card-4 {
    right: 15px;
    bottom: 10px;
  }
}
@media screen and (max-width: 420px) {
  .video-list li {
    width: 100%;
    margin: .5% 0;
  }
}
@media screen and (max-width: 360px) {
  .service-card1 p {
    font-size: 14px;
  }
  .service-card-2 h1 {
    font-size: 20px;
  }
  .service-card-3 {
    max-width: 68%;
  }
  .service-card-3 h1 {
    font-size: 20px;
  }
  .service-card-3 p {
    font-size: 12px;
  }
}
