<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>修改</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="/Public/static/layui/css/layui.css" media="all"/>
	<link rel="stylesheet" href="/Public/static/css/public.css" media="all"/>
</head>
<body class="childrenBody">
<form class="layui-form layui-form-pane" lay-filter="form1" style="width:90%;padding-left: 5%;">
	<input type="hidden" name="id" value="{$info.id}">
	<div class="layui-form-item">
		<label class="layui-form-label" for="name"><b style="color: red">* </b>产品名称</label>
		<div class="layui-input-block">
			<input type="text" name="name" id="name" placeholder="产品名称" lay-verify="required" lay-verType="tips"
				   autocomplete="off" maxlength="255" value="" class="layui-input">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label" for="image"><b style="color: red">* </b>图片</label>
		<div class="layui-input-block">
			<input type="text" readonly style="cursor: pointer" name="image" id="image" placeholder="图片"
				   lay-verify="required" lay-verType="tips" autocomplete="off" class="layui-input">
			<img src="" id="image_show" alt="图片"
				 style="height: 100px;width: auto;position: absolute;z-index: 10;border: 1px dashed #d2d2d2;display: none">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label" for="title_one"><b style="color: red">* </b>标题</label>
		<div class="layui-input-block">
			<input type="text" name="title_one" id="title_one" placeholder="标题" lay-verify="required"
				   lay-verType="tips" autocomplete="off" maxlength="255" value="" class="layui-input">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label" for="title_ones"><b style="color: red">* </b>简介</label>
		<div class="layui-input-block">
			<input type="text" name="title_ones" id="title_ones" placeholder="简介" lay-verify="required"
				   lay-verType="tips" autocomplete="off" maxlength="255" value="" class="layui-input">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label" for="title_ones_content"><b style="color: red">* </b>详情</label>
		<div class="layui-input-block">
            <textarea name="title_ones_content" placeholder="详情" id="title_ones_content" class="layui-textarea"
					  lay-verify="required"
					  lay-verType="msg">{$info.title_ones_content|htmlspecialchars_decode}</textarea>
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label" for="title_ones_content_description"><b style="color: red">* </b>详情</label>
		<div class="layui-input-block">
            <textarea name="title_ones_content_description" placeholder="详情" id="title_ones_content_description"
					  class="layui-textarea" lay-verify="required" lay-verType="msg">{$info.title_ones_content_description|htmlspecialchars_decode}</textarea>
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label" for="title_ones_contents_description"><b style="color: red">* </b>详情</label>
		<div class="layui-input-block">
            <textarea name="title_ones_contents_description" placeholder="详情" id="title_ones_contents_description"
					  class="layui-textarea" lay-verify="required" lay-verType="msg">{$info.title_ones_contents_description|htmlspecialchars_decode}</textarea>
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label" for="images"><b style="color: red">* </b>图片</label>
		<div class="layui-input-block">
			<input type="text" readonly style="cursor: pointer" name="images" id="images" placeholder="图片"
				   lay-verify="required" lay-verType="tips" autocomplete="off" class="layui-input">
			<img src="" id="images_show" alt="图片"
				 style="height: 100px;width: auto;position: absolute;z-index: 10;border: 1px dashed #d2d2d2;display: none">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label" for="title_two_content"><b style="color: red">* </b>标题简介</label>
		<div class="layui-input-block">
            <textarea name="title_two_content" placeholder="标题简介" id="title_two_content" class="layui-textarea"
					  lay-verify="required"
					  lay-verType="msg">{$info.title_two_content|htmlspecialchars_decode}</textarea>
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label" for="title_two"><b style="color: red">* </b>标题</label>
		<div class="layui-input-block">
			<input type="text" name="title_two" id="title_two" placeholder="标题" lay-verify="required"
				   lay-verType="tips" autocomplete="off" maxlength="255" value="" class="layui-input">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label" for="title_twos_content"><b style="color: red">* </b>详情详情</label>
		<div class="layui-input-block">
            <textarea name="title_twos_content" placeholder="详情详情" id="title_twos_content" class="layui-textarea"
					  lay-verify="required"
					  lay-verType="msg">{$info.title_twos_content|htmlspecialchars_decode}</textarea>
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label" for="title_twos"><b style="color: red">* </b>标题</label>
		<div class="layui-input-block">
			<input type="text" name="title_twos" id="title_twos" placeholder="标题" lay-verify="required"
				   lay-verType="tips" autocomplete="off" maxlength="255" value="" class="layui-input">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label" for="title_twoss_content"><b style="color: red">* </b>标题详情</label>
		<div class="layui-input-block">
            <textarea name="title_twoss_content" placeholder="标题221详情" id="title_twoss_content" class="layui-textarea"
					  lay-verify="required"
					  lay-verType="msg">{$info.title_twoss_content|htmlspecialchars_decode}</textarea>
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label" for="titletwoscontent"><b style="color: red">* </b>标题详情</label>
		<div class="layui-input-block">
            <textarea name="titletwoscontent" placeholder="标题详情" id="titletwoscontent" class="layui-textarea"
					  lay-verify="required"
					  lay-verType="msg">{$info.titletwoscontent|htmlspecialchars_decode}</textarea>
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label" for="title3"><b style="color: red">* </b>标题</label>
		<div class="layui-input-block">
			<input type="text" name="title3" id="title3" placeholder="标题" lay-verify="required" lay-verType="tips"
				   autocomplete="off" maxlength="255" value="" class="layui-input">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label" for="title31"><b style="color: red">* </b>标题简介</label>
		<div class="layui-input-block">
			<input type="text" name="title31" id="title31" placeholder="标题简介" lay-verify="required" lay-verType="tips"
				   autocomplete="off" maxlength="255" value="" class="layui-input">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label" for="titlecontent"><b style="color: red">* </b>标题详情</label>
		<div class="layui-input-block">
            <textarea name="titlecontent" placeholder="标题31详情" id="titlecontent" class="layui-textarea"
					  lay-verify="required" lay-verType="msg">{$info.titlecontent|htmlspecialchars_decode}</textarea>
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label" for="title3image"><b style="color: red">* </b>标题图片</label>
		<div class="layui-input-block">
			<input type="text" readonly style="cursor: pointer" name="title3image" id="title3image" placeholder="标题图片"
				   lay-verify="required" lay-verType="tips" autocomplete="off" class="layui-input">
			<img src="" id="title3image_show" alt="标题图片"
				 style="height: 100px;width: auto;position: absolute;z-index: 10;border: 1px dashed #d2d2d2;display: none">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label" for="title3content"><b style="color: red">* </b>标题产品参数</label>
		<div class="layui-input-block">
            <textarea name="title3content" placeholder="标题31产品参数" id="title3content" class="layui-textarea"
					  lay-verify="required" lay-verType="msg">{$info.title3content|htmlspecialchars_decode}</textarea>
		</div>
	</div>
	<div class="layui-form-item">

		<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
			<legend style="text-align: center;font-size:large">模块六</legend>
		</fieldset>
		<label class="layui-form-label" for="title4"><b style="color: red">* </b>标题</label>
		<div class="layui-input-block">
			<input type="text" name="title4" id="title4" placeholder="标题" lay-verify="required" lay-verType="tips"
				   autocomplete="off" maxlength="255" value="" class="layui-input">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label" for="title41"><b style="color: red">* </b>标题简介</label>
		<div class="layui-input-block">
			<input type="text" name="title41" id="title41" placeholder="标题41简介" lay-verify="required" lay-verType="tips"
				   autocomplete="off" maxlength="255" value="" class="layui-input">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label" for="title41image"><b style="color: red">* </b>标题图片</label>
		<div class="layui-input-block">
			<input type="text" readonly style="cursor: pointer" name="title41image" id="title41image"
				   placeholder="标题图片" lay-verify="required" lay-verType="tips" autocomplete="off" class="layui-input">
			<img src="" id="title41image_show" alt="标题图片"
				 style="height: 100px;width: auto;position: absolute;z-index: 10;border: 1px dashed #d2d2d2;display: none">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label" for="title411"><b style="color: red">* </b>标题</label>
		<div class="layui-input-block">
			<input type="text" name="title411" id="title411" placeholder="标题411" lay-verify="required"
				   lay-verType="tips" autocomplete="off" maxlength="255" value="" class="layui-input">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label" for="title412"><b style="color: red">* </b>标题</label>
		<div class="layui-input-block">
			<input type="text" name="title412" id="title412" placeholder="标题" lay-verify="required"
				   lay-verType="tips" autocomplete="off" maxlength="255" value="" class="layui-input">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label" for="title413"><b style="color: red">* </b>标题</label>
		<div class="layui-input-block">
			<input type="text" name="title413" id="title413" placeholder="标题413" lay-verify="required"
				   lay-verType="tips" autocomplete="off" maxlength="255" value="" class="layui-input">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label" for="title414"><b style="color: red">* </b>标题</label>
		<div class="layui-input-block">
			<input type="text" name="title414" id="title414" placeholder="标题" lay-verify="required"
				   lay-verType="tips" autocomplete="off" maxlength="255" value="" class="layui-input">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label" for="title414content"><b style="color: red">* </b>标题简介</label>
		<div class="layui-input-block">
			<input type="text" name="title414content" id="title414content" placeholder="标题414简介" lay-verify="required"
				   lay-verType="tips" autocomplete="off" maxlength="255" value="" class="layui-input">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label" for="title414image"><b style="color: red">* </b>标题图片</label>
		<div class="layui-input-block">
			<input type="text" readonly style="cursor: pointer" name="title414image" id="title414image"
				   placeholder="标题414图片" lay-verify="required" lay-verType="tips" autocomplete="off"
				   class="layui-input">
			<img src="" id="title414image_show" alt="标题图片"
				 style="height: 100px;width: auto;position: absolute;z-index: 10;border: 1px dashed #d2d2d2;display: none">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label" for="title415"><b style="color: red">* </b>标题</label>
		<div class="layui-input-block">
			<input type="text" name="title415" id="title415" placeholder="标题" lay-verify="required"
				   lay-verType="tips" autocomplete="off" maxlength="255" value="" class="layui-input">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label" for="title415content"><b style="color: red">* </b>标题简介</label>
		<div class="layui-input-block">
			<input type="text" name="title415content" id="title415content" placeholder="标题415简介" lay-verify="required"
				   lay-verType="tips" autocomplete="off" maxlength="255" value="" class="layui-input">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label" for="title415image"><b style="color: red">* </b>标题图片</label>
		<div class="layui-input-block">
			<input type="text" readonly style="cursor: pointer" name="title415image" id="title415image"
				   placeholder="标题415图片" lay-verify="required" lay-verType="tips" autocomplete="off"
				   class="layui-input">
			<img src="" id="title415image_show" alt="标题415图片"
				 style="height: 100px;width: auto;position: absolute;z-index: 10;border: 1px dashed #d2d2d2;display: none">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label" for="title416"><b style="color: red">* </b>标题</label>
		<div class="layui-input-block">
			<input type="text" name="title416" id="title416" placeholder="标题" lay-verify="required"
				   lay-verType="tips" autocomplete="off" maxlength="255" value="" class="layui-input">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label" for="title416content"><b style="color: red">* </b>标题简介</label>
		<div class="layui-input-block">
			<input type="text" name="title416content" id="title416content" placeholder="标题416简介" lay-verify="required"
				   lay-verType="tips" autocomplete="off" maxlength="255" value="" class="layui-input">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label" for="title417"><b style="color: red">* </b>标题</label>
		<div class="layui-input-block">
			<input type="text" name="title417" id="title417" placeholder="标题" lay-verify="required"
				   lay-verType="tips" autocomplete="off" maxlength="255" value="" class="layui-input">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label" for="title417content"><b style="color: red">* </b>标题简介</label>
		<div class="layui-input-block">
			<input type="text" name="title417content" id="title417content" placeholder="标题简介" lay-verify="required"
				   lay-verType="tips" autocomplete="off" maxlength="255" value="" class="layui-input">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label" for="title418image"><b style="color: red">* </b>标题图片</label>
		<div class="layui-input-block">
			<input type="text" readonly style="cursor: pointer" name="title418image" id="title418image"
				   placeholder="标题418图片1" lay-verify="required" lay-verType="tips" autocomplete="off"
				   class="layui-input">
			<img src="" id="title418image_show" alt="标题418图片1"
				 style="height: 100px;width: auto;position: absolute;z-index: 10;border: 1px dashed #d2d2d2;display: none">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label" for="title418images"><b style="color: red">* </b>标题图片</label>
		<div class="layui-input-block">
			<input type="text" readonly style="cursor: pointer" name="title418images" id="title418images"
				   placeholder="标题图片" lay-verify="required" lay-verType="tips" autocomplete="off"
				   class="layui-input">
			<img src="" id="title418images_show" alt="标题图片"
				 style="height: 100px;width: auto;position: absolute;z-index: 10;border: 1px dashed #d2d2d2;display: none">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label" for="title418content"><b style="color: red">* </b>标题简介</label>
		<div class="layui-input-block">
			<input type="text" name="title418content" id="title418content" placeholder="标题简介" lay-verify="required"
				   lay-verType="tips" autocomplete="off" maxlength="255" value="" class="layui-input">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label" for="title4110image"><b style="color: red">* </b>标题图片</label>
		<div class="layui-input-block">
			<input type="text" readonly style="cursor: pointer" name="title4110image" id="title4110image"
				   placeholder="标题图片" lay-verify="required" lay-verType="tips" autocomplete="off" class="layui-input">
			<img src="" id="title4110image_show" alt="标题图片"
				 style="height: 100px;width: auto;position: absolute;z-index: 10;border: 1px dashed #d2d2d2;display: none">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label" for="title4110title"><b style="color: red">* </b>标题</label>
		<div class="layui-input-block">
			<input type="text" name="title4110title" id="title4110title" placeholder="标题" lay-verify="required"
				   lay-verType="tips" autocomplete="off" maxlength="255" value="" class="layui-input">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label" for="title4110content"><b style="color: red">* </b>标题详情</label>
		<div class="layui-input-block">
            <textarea name="title4110content" placeholder="标题10详情" id="title4110content" class="layui-textarea"
					  lay-verify="required"
					  lay-verType="msg">{$info.title4110content|htmlspecialchars_decode}</textarea>
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label" for="switch">开关</label>
		<div class="layui-input-block">
			<input type="checkbox" lay-filter="switch" id="switch" title="" lay-skin="switch" lay-text="ON|OFF" checked>
			<input type="hidden" name="switch" value="1">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label" for="seo_title"><b style="color: red">* </b>网页标题</label>
		<div class="layui-input-block">
			<input type="text" name="seo_title" id="seo_title" placeholder="网页标题" lay-verify="required"
				   lay-verType="tips" autocomplete="off" maxlength="255" value="" class="layui-input">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label" for="seo_description"><b style="color: red">* </b>网页介绍</label>
		<div class="layui-input-block">
			<input type="text" name="seo_description" id="seo_description" placeholder="网页介绍" lay-verify="required"
				   lay-verType="tips" autocomplete="off" maxlength="255" value="" class="layui-input">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label" for="seo_keywords"><b style="color: red">* </b>关键字</label>
		<div class="layui-input-block">
			<input type="text" name="seo_keywords" id="seo_keywords" placeholder="关键字" lay-verify="required"
				   lay-verType="tips" autocomplete="off" maxlength="255" value="" class="layui-input">
		</div>
	</div>
	<div class="layui-form-item">
		<div class="layui-input-block">
			<button class="layui-btn" lay-submit="" lay-filter="addData">提交</button>
			<button type="reset" class="layui-btn layui-btn-primary">重置</button>
		</div>
	</div>
</form>
<script type="text/javascript" src="/Public/static/js/jquery-3.2.0.min.js"></script>
<script type="text/javascript" src="/Public/static/layui/layui.js"></script>
<script charset="utf-8" src="/kindeditor/kindeditor-all.js"></script>

<script>

    KindEditor.ready(function (K) {
        window.editor = K.create('textarea[name="title_ones_content"]', {
            langType: "zh-CN",
            cssPath: '/kindeditor/plugins/code/prettify.css',
            uploadJson: '/kindeditor/php/upload_json.php',
            fileManagerJson: '/kindeditor/php/file_manager_json.php',
            filePostName: 'file',
            allowFileManager: true,
            extraFileUploadParams: {},
            afterBlur: function () {
                this.sync();
            }
        });
        window.editor = K.create('textarea[name="title_ones_content_description"]', {
            langType: "zh-CN",
            cssPath: '/kindeditor/plugins/code/prettify.css',
            uploadJson: '/kindeditor/php/upload_json.php',
            fileManagerJson: '/kindeditor/php/file_manager_json.php',
            filePostName: 'file',
            allowFileManager: true,
            extraFileUploadParams: {},
            afterBlur: function () {
                this.sync();
            }
        });
        window.editor = K.create('textarea[name="title_ones_contents_description"]', {
            langType: "zh-CN",
            cssPath: '/kindeditor/plugins/code/prettify.css',
            uploadJson: '/kindeditor/php/upload_json.php',
            fileManagerJson: '/kindeditor/php/file_manager_json.php',
            filePostName: 'file',
            allowFileManager: true,
            extraFileUploadParams: {},
            afterBlur: function () {
                this.sync();
            }
        });
        window.editor = K.create('textarea[name="title_two_content"]', {
            langType: "zh-CN",
            cssPath: '/kindeditor/plugins/code/prettify.css',
            uploadJson: '/kindeditor/php/upload_json.php',
            fileManagerJson: '/kindeditor/php/file_manager_json.php',
            filePostName: 'file',
            allowFileManager: true,
            extraFileUploadParams: {},
            afterBlur: function () {
                this.sync();
            }
        });
        window.editor = K.create('textarea[name="title_twos_content"]', {
            langType: "zh-CN",
            cssPath: '/kindeditor/plugins/code/prettify.css',
            uploadJson: '/kindeditor/php/upload_json.php',
            fileManagerJson: '/kindeditor/php/file_manager_json.php',
            filePostName: 'file',
            allowFileManager: true,
            extraFileUploadParams: {},
            afterBlur: function () {
                this.sync();
            }
        });
        window.editor = K.create('textarea[name="title_twoss_content"]', {
            langType: "zh-CN",
            cssPath: '/kindeditor/plugins/code/prettify.css',
            uploadJson: '/kindeditor/php/upload_json.php',
            fileManagerJson: '/kindeditor/php/file_manager_json.php',
            filePostName: 'file',
            allowFileManager: true,
            extraFileUploadParams: {},
            afterBlur: function () {
                this.sync();
            }
        });
        window.editor = K.create('textarea[name="titletwoscontent"]', {
            langType: "zh-CN",
            cssPath: '/kindeditor/plugins/code/prettify.css',
            uploadJson: '/kindeditor/php/upload_json.php',
            fileManagerJson: '/kindeditor/php/file_manager_json.php',
            filePostName: 'file',
            allowFileManager: true,
            extraFileUploadParams: {},
            afterBlur: function () {
                this.sync();
            }
        });
        window.editor = K.create('textarea[name="titlecontent"]', {
            langType: "zh-CN",
            cssPath: '/kindeditor/plugins/code/prettify.css',
            uploadJson: '/kindeditor/php/upload_json.php',
            fileManagerJson: '/kindeditor/php/file_manager_json.php',
            filePostName: 'file',
            allowFileManager: true,
            extraFileUploadParams: {},
            afterBlur: function () {
                this.sync();
            }
        });
        window.editor = K.create('textarea[name="title3content"]', {
            langType: "zh-CN",
            cssPath: '/kindeditor/plugins/code/prettify.css',
            uploadJson: '/kindeditor/php/upload_json.php',
            fileManagerJson: '/kindeditor/php/file_manager_json.php',
            filePostName: 'file',
            allowFileManager: true,
            extraFileUploadParams: {},
            afterBlur: function () {
                this.sync();
            }
        });




    });


</script>
<script type="text/javascript">
    layui.use(['form', 'layer', 'laydate', 'upload', 'layedit'], function () {
        let form = layui.form,
            laydate = layui.laydate,
            upload = layui.upload,
            layedit = layui.layedit,
            layer = parent.layer === undefined ? layui.layer : top.layer;


        upload.render({
            elem: "#image"
            , url: "/admin/FileUpload/upload"
            , before: function () {
                layer.msg("图片上传中", {icon: 16, time: false});
            }
            , done: function (res) {
                let item = this.item;
                layer.closeAll();
                if (res.code === 0) {
                    layer.msg("上传成功", {icon: 1});
                    $(item).val(res.data.src);
                } else {
                    layer.alert(res.msg);
                }
            }
        });
        $("#image").hover(function () {
            let _this = $(this);
            if (_this.val() !== '') {
                $('#image_show').attr("src", _this.val()).slideDown();
            }
        }, function () {
            $('#image_show').slideUp();
        });





        upload.render({
            elem: "#images"
            , url: "/admin/FileUpload/upload"
            , before: function () {
                layer.msg("图片上传中", {icon: 16, time: false});
            }
            , done: function (res) {
                let item = this.item;
                layer.closeAll();
                if (res.code === 0) {
                    layer.msg("上传成功", {icon: 1});
                    $(item).val(res.data.src);
                } else {
                    layer.alert(res.msg);
                }
            }
        });
        $("#images").hover(function () {
            let _this = $(this);
            if (_this.val() !== '') {
                $('#images_show').attr("src", _this.val()).slideDown();
            }
        }, function () {
            $('#images_show').slideUp();
        });





        upload.render({
            elem: "#title3image"
            , url: "/admin/FileUpload/upload"
            , before: function () {
                layer.msg("图片上传中", {icon: 16, time: false});
            }
            , done: function (res) {
                let item = this.item;
                layer.closeAll();
                if (res.code === 0) {
                    layer.msg("上传成功", {icon: 1});
                    $(item).val(res.data.src);
                } else {
                    layer.alert(res.msg);
                }
            }
        });
        $("#title3image").hover(function () {
            let _this = $(this);
            if (_this.val() !== '') {
                $('#title3image_show').attr("src", _this.val()).slideDown();
            }
        }, function () {
            $('#title3image_show').slideUp();
        });





        upload.render({
            elem: "#title41image"
            , url: "/admin/FileUpload/upload"
            , before: function () {
                layer.msg("图片上传中", {icon: 16, time: false});
            }
            , done: function (res) {
                let item = this.item;
                layer.closeAll();
                if (res.code === 0) {
                    layer.msg("上传成功", {icon: 1});
                    $(item).val(res.data.src);
                } else {
                    layer.alert(res.msg);
                }
            }
        });
        $("#title41image").hover(function () {
            let _this = $(this);
            if (_this.val() !== '') {
                $('#title41image_show').attr("src", _this.val()).slideDown();
            }
        }, function () {
            $('#title41image_show').slideUp();
        });


        upload.render({
            elem: "#title414image"
            , url: "/admin/FileUpload/upload"
            , before: function () {
                layer.msg("图片上传中", {icon: 16, time: false});
            }
            , done: function (res) {
                let item = this.item;
                layer.closeAll();
                if (res.code === 0) {
                    layer.msg("上传成功", {icon: 1});
                    $(item).val(res.data.src);
                } else {
                    layer.alert(res.msg);
                }
            }
        });
        $("#title414image").hover(function () {
            let _this = $(this);
            if (_this.val() !== '') {
                $('#title414image_show').attr("src", _this.val()).slideDown();
            }
        }, function () {
            $('#title414image_show').slideUp();
        });


        upload.render({
            elem: "#title415image"
            , url: "/admin/FileUpload/upload"
            , before: function () {
                layer.msg("图片上传中", {icon: 16, time: false});
            }
            , done: function (res) {
                let item = this.item;
                layer.closeAll();
                if (res.code === 0) {
                    layer.msg("上传成功", {icon: 1});
                    $(item).val(res.data.src);
                } else {
                    layer.alert(res.msg);
                }
            }
        });
        $("#title415image").hover(function () {
            let _this = $(this);
            if (_this.val() !== '') {
                $('#title415image_show').attr("src", _this.val()).slideDown();
            }
        }, function () {
            $('#title415image_show').slideUp();
        });


        upload.render({
            elem: "#title418image"
            , url: "/admin/FileUpload/upload"
            , before: function () {
                layer.msg("图片上传中", {icon: 16, time: false});
            }
            , done: function (res) {
                let item = this.item;
                layer.closeAll();
                if (res.code === 0) {
                    layer.msg("上传成功", {icon: 1});
                    $(item).val(res.data.src);
                } else {
                    layer.alert(res.msg);
                }
            }
        });
        $("#title418image").hover(function () {
            let _this = $(this);
            if (_this.val() !== '') {
                $('#title418image_show').attr("src", _this.val()).slideDown();
            }
        }, function () {
            $('#title418image_show').slideUp();
        });


        upload.render({
            elem: "#title418images"
            , url: "/admin/FileUpload/upload"
            , before: function () {
                layer.msg("图片上传中", {icon: 16, time: false});
            }
            , done: function (res) {
                let item = this.item;
                layer.closeAll();
                if (res.code === 0) {
                    layer.msg("上传成功", {icon: 1});
                    $(item).val(res.data.src);
                } else {
                    layer.alert(res.msg);
                }
            }
        });
        $("#title418images").hover(function () {
            let _this = $(this);
            if (_this.val() !== '') {
                $('#title418images_show').attr("src", _this.val()).slideDown();
            }
        }, function () {
            $('#title418images_show').slideUp();
        });


        upload.render({
            elem: "#title4110image"
            , url: "/admin/FileUpload/upload"
            , before: function () {
                layer.msg("图片上传中", {icon: 16, time: false});
            }
            , done: function (res) {
                let item = this.item;
                layer.closeAll();
                if (res.code === 0) {
                    layer.msg("上传成功", {icon: 1});
                    $(item).val(res.data.src);
                } else {
                    layer.alert(res.msg);
                }
            }
        });
        $("#title4110image").hover(function () {
            let _this = $(this);
            if (_this.val() !== '') {
                $('#title4110image_show').attr("src", _this.val()).slideDown();
            }
        }, function () {
            $('#title4110image_show').slideUp();
        });


        let title4110content = layedit.build('title4110content', {
            uploadImage: {url: '/admin/FileUpload/upload', type: 'post'},
            height: 200
        });
        $("iframe[textarea=title4110content]").contents().find("body").blur(function () {
            layedit.sync(title4110content);
        });


        form.on('switch(switch)', function (data) {
            let v = '0';
            if (data.elem.checked) v = '1';
            $('input[name=switch]').val(v);
        });
        form.val("form1", {
            'name': '{$info.name}',
            'image': '{$info.image}',
            'title_one': '{$info.title_one}',
            'title_ones': '{$info.title_ones}',
            'images': '{$info.images}',
            'title_two': '{$info.title_two}',
            'title_twos': '{$info.title_twos}',
            'title3': '{$info.title3}',
            'title31': '{$info.title31}',
            'title3image': '{$info.title3image}',
            'title4': '{$info.title4}',
            'title41': '{$info.title41}',
            'title41image': '{$info.title41image}',
            'title411': '{$info.title411}',
            'title412': '{$info.title412}',
            'title413': '{$info.title413}',
            'title414': '{$info.title414}',
            'title414content': '{$info.title414content}',
            'title414image': '{$info.title414image}',
            'title415': '{$info.title415}',
            'title415content': '{$info.title415content}',
            'title415image': '{$info.title415image}',
            'title416': '{$info.title416}',
            'title416content': '{$info.title416content}',
            'title417': '{$info.title417}',
            'title417content': '{$info.title417content}',
            'title418image': '{$info.title418image}',
            'title418images': '{$info.title418images}',
            'title418content': '{$info.title418content}',
            'title4110image': '{$info.title4110image}',
            'title4110title': '{$info.title4110title}',
            'switch': '{$info.switch}',
            'seo_title': '{$info.seo_title}',
            'seo_description': '{$info.seo_description}',
            'seo_keywords': '{$info.seo_keywords}'
        });
        $('#switch').prop('checked', '{$info.switch}' === '1');
        form.render('checkbox');

        form.on("submit(addData)", function (data) {
            let index = layer.msg('数据提交中，请稍候', {icon: 16, time: false});
            $.post("/admin/Productcn/edit", {para: $('form').serialize()}, function (res) {
                window.parent.window.parent.toast(res.info, res.code);
                layer.close(index);
                if (0 === res.code) {
                    parent.layer.closeAll();
                    window.parent.tablist.reload();
                }
            });
            return false;
        });
    });
</script>
</body>
</html>